
/* ------------ Design for card ------------ */
html { 
  box-sizing: border-box;
  max-height: 600px;
}

*, *:before, *::after {
  box-sizing: inherit; /* For making all a border-box */
}

* { /* For All Font */
  font-family: "Karla", system-ui;
  font-optical-sizing: auto;
}

body {
  background-color: #121212;

  height: 100vh; /* Making the height of the body 100%
                    of the viewport height for vertical
                    center alignment of the content.    */

  /* Making the body element a flexbox */
  display: flex;
  justify-content: center; /*For making the content center horizontally*/
  align-items: center; /* For making the items center vertically  */
}

.card {
  /* For desiging the card div */
  width: 240px;
  height: auto;
  border-radius: 5px;
  box-shadow: 3px 3px 14px 0px rgba(255, 255, 255, .3);

  /* Making the card div a flexbox */
  display: flex;
  flex-direction: column;
}

.content {
  /* For designing the contents div */
  width: 100%;
  height: auto;
  padding: 18px;
}

.content-1 {
  /* For designing the first content div */
  background-color: #FFFFFF;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.content-2 {
  /* For designing the second content div */
  background-color: #3da1a0;
}

.content-3 {
  /* For designing the third content div */
  background-color: #50BEBD;
  border-radius: 0 0 5px 5px;
}

/* ------------ For Text of Contents ------------ */
h4, p, ul {
  margin: 0;
  padding: 0;
}

/* For First Content Texts */

.content-1-h4 {
  font-size: .90em;
  margin-bottom: 15px;
  color: #3da1a0;
}

.content-1-p1 {
  margin-bottom: 15px;
  font-size: .70em;
  color: #9bb904;
  font-weight: 700;
}

.content-1-p2 {
  line-height: 180%;
  font-size: .65em;
  color: #a9aaaa;
  font-weight: 700;
}

/* For Second Content Texts */
.content-2-h4 {
  font-size: .9em;
  color: #ffffffd2;
  font-weight: 500;
  margin-bottom: 10px;
}

.content-2-p1 .content-2-span {
  color: #ffffffe1;
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.content-2-p1 { 
  color: #ffffff56;
  font-weight: 500;
  font-size: .75em;
  margin-bottom: 2px;
}

.content-2-p2 {
  color: #ffffff8c;
  font-size: .75em;
  font-weight: 600;
  margin-bottom: 25px;
}

.content-2-button {
  width: 100%;
  height: 35px;
  border: 0px none;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #9bb904;
  box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.288);
}
.content-2-button:hover {
  cursor: pointer;
  background-color: #9bb90491;
}

/* For Third Content Texts */
.content-3-h4 {
  font-size: .9em;
  color: #ffffffda;
  font-weight: 500;
  margin-bottom: 10px;
}

.content-3-ul {
  list-style: none;
  font-size: .65em;
  font-weight: 500;
  color: #ffffff96;
}

.content-3-ul li {
  margin-bottom: 2px;
}


/* ------------ For Responsiveness ------------ */
@media(min-width: 600px) {
  /* If the body width is greater than or equals to 600px */

  .card {
    width: 480px;
    flex-direction: row; /* Making the flex direction into row */
    flex-wrap: wrap;
  }

  .content {
    padding: 30px;
  }

  .content-1 {
    width: 100%;
    /* height: 180px; */
  }

  .content-1-h4 {
    font-size: 1.1em;
  }

  .content-1-p1 {
    margin-bottom: 10px;
    font-size: .85em;
  }

  .content-1-p2 {
    line-height: 140%;
    font-size: .75em;
  }

  .content-2, .content-3 {
  width: 50% ;
  }

  .content-2 {
    border-radius: 0 0 0 5px;
  }

  .content-3 {
    border-radius: 0 0 5px 0;
  }

}
